html {
  scroll-behavior: smooth;
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor:none;
  font-family: "coffeeterrace", sans-serif;
}

body {
  margin: 0;
  line-height: 1.6;
  overflow-x: hidden;
  background:  #212529;
}

@font-face {
  font-family: 'coffeeterrace'; 
  src: url('CoffeeTerrace.otf') format('truetype'); /* Chemin vers le fichier de police et son format */
  font-family: 'titreee '; 
  src: url('titreee.ttf') format('truetype'); /* Chemin vers le fichier de police et son format */

}


/* Style CSS pour le titre h1 */
.header-text {
  text-align: center; /* Centre le texte horizontalement */
  color: white; /* Couleur du texte en blanc */
  font-size: 24px; /* Taille de la police plus grosse (vous pouvez ajuster la valeur) */
}

[data-theme="light"] {
  --bg-color: #93441a7c;
  --primary-bg: #8c43ff;
  --color: #333;
  --togglebg: #d4e7d5;
  --toggleslider: #fff;
  --roundcolor: #fff;
  --svgcolor: #E5E5CB;
}

[data-theme="dark"] {
  --bg-color: #333333;
  --primary-bg: #333;
  --bg-color: #333333;
  --color: #e9dcdc;
  --togglebg: #333;
  --toggleslider: #e9dcdc;
  --roundcolor: #333;
  --svgcolor: #fff;
}



.nav {
  height: 6rem;
  width: 100%;
  display: block;
  justify-content: flex-start;
  z-index: 10;
  font-weight: 300;
  /* transition: 0.2s ease-in-out; */
  /* transition: transform 400ms ease-in-out; */
  position: fixed;
}

.nav__list {
  /* list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 55vh;
  margin-top: -49px;
  padding: 0vh 4vw; */
  list-style: none;
  display: flex;
  justify-content: flex-end;
  /* margin-left: 55vh; */
  margin-top: -57px;
  /* margin: auto; */
  padding: 0vh 4vw;
}

.nav__link {
  color: inherit;
  margin-right: 50px;
  position: relative;
  font-family: "coffeeterrace", sans-serif;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 700;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #E5E5CB;
}

.nav-toggle {
  display: none;
}

.nav__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #E5E5CB;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.nav__link:active::before {
  background-color: #E5E5CB;
}

.nav__link:hover::before,
.nav__link:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}


#accueil-section {
  width: 100%;
  filter: opacity(75%);
  background-size: cover;
  position: relative;
  padding: 120px 0 0 0;
}


#accueil-section:before {
  z-index: -999;
  content: "";
  background: #212529  ;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  padding: 3vh 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  color: rgb(22, 8, 8);
  text-transform: none;
  width: 25rem;
  font-family: "coffeeterrace";
  font-weight: 800;
  /* margin-top: 7px;*/
}

.smalllogo {
  font-family: "coffeeterrace", sans-serif;
  display: none;
}

a {
  text-decoration: none;
  color: #E5E5CB;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 400ms cubic-bezier(0.51, 0.6, 0.54, 0.59);
    height: 100vh;
  }

  .nav__list {
    list-style: none;
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    margin-bottom: 5vh;
    padding: 135px;
    background-color:  #212529;
    width: 100%;
  }

  .logo {
    display: none;
  }
  .smalllogo {
    padding: 4.7vh 8vw;
    text-align: center;
    display: flex;
    align-items: center;
    color:  #212529;
    text-transform: none;
    font-family: "coffeeterrace", sans-serif;
    font-weight: 800;
  }

  .logolink {
    text-decoration: none;
    color: #E5E5CB;
  }

  .logo-content {
    font-family: "coffeeterrace", sans-serif;
    position:absolute;
    display: flex;
    align-items: center; /* Aligne verticalement le contenu au centre */
    width: 50px;
    height: 50px;
    margin-right: 10;
    margin-top:25;
    margin-bottom: 5;
    font-size: 20px;
    color: #E5E5CB;
    margin: 0;
  }

  .logo-content img {
    width: 50px; /* Ajustez la largeur de l'image comme vous le souhaitez */
    height: auto; /* Ajustez la hauteur de l'image comme vous le souhaitez */
    margin-right: 10px; /* Espacement entre l'image et le texte */
  }
  
  h1 {
    display: flex;
    align-items: center; /* Aligner verticalement le contenu */
    font-size: 24px; /* Taille de la police du titre */
    color: white; /* Couleur du texte en blanc */
  }


  .nav-toggle {
    display: block;
    padding: 2.3em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 2.5rem;
    /* left: 29rem; */
    z-index: 1000;
    outline: none;
  }

  .nav__link {
    margin: 0;
    color: #D5CEA3;
  }

  .nav-open {
    overflow: hidden;
  }

  .nav-open .nav {
    transform: translateX(0);
    width: 100vw;
  }

  .nav-open .logo {
    display: none;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
    background-color: #D5CEA3;
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background-color: #D5CEA3;
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background-color: #E5E5CB;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .nav__item {
    color: #fff;
  }

  .nav__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }

  .nav__link:active::before {
    background-color: #fff;
  }

  .nav__link:hover::before,
  .nav__link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

section {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  min-height: 110vh;
}


.one {
  background-color: white;
}

.two {
  background-color: #c06230;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: flex-start;
  min-height: 110vh;
  justify-content: center;
}


.three {
  background-color: rgb(63, 118, 238);
}

.four {
  background-color: rgb(221, 22, 88);
}

.five {
  background-color: rgb(163, 114, 8);
}

@media (max-width: 800px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:  #212529; /* Couleur de fond du header */
    z-index: 1000;
  }

  .nav {
    /* Ajoutez le style nécessaire pour le menu burger en mode écran */
    position: absolute;
    transform: translateX(100%);
  }

  .nav-open .nav {
    /* Modifiez la position du menu burger lorsque le menu est ouvert */
    transform: translateX(0);
  }
}

body {
  margin: 0;
  padding: 0;
}

footer {
  margin: 5px;
  background-color:#212529;
  color: #E5E5CB;
  padding: 15;
  text-align: center;
}

.footer-content {
  max-width: 1725px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer-content p {
  font-size: 1.5rem;
  color: #E5E5CB;
}



ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 1rem;
}

ul li a {
  color: #E5E5CB;
  font-size: 1rem;
  text-align: center;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.logofoot{
  margin-bottom: 25px;
}

ion-icon {
margin-bottom: -2.5px;
text-align: center; 
font-size: 1rem;
}

/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 767px) {
  ion-icon {
    font-size: 1rem;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


#particle-canvas {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  background: transparent;
  vertical-align: middle;
}
 
/*Largeur de l'ensemble de la scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

/* Couleur de la zone de suivi de la scrollbar */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Couleur du bouton de défilement (thumb) de la scrollbar */
body::-webkit-scrollbar-thumb {
  background-color: #E5E5CB;
  width: 8px;
  height: 8px;
  cursor: pointer;
  border-radius: 8px; /* Arrondi du bouton de défilement */
}


/* Curseur importé */
  .mscursor-cursor {

    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
  }

  .mscursor-difference{
    mix-blend-mode: difference;
  }
  
  .mscursor-circle {
      transform-origin: center;
      position: absolute;
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 20px;
  }

  .mscursor-border-transform{
    animation: border-transform 3s linear infinite;
  }
  
  @keyframes border-transform {
    0%,
    100% {
      border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
      border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
      border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
      border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
      border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }
  
  .mscursor-scale{
    transition: .5s ease;
    transform: scale(1.6);
  }
  
  .mscursor-scale-outline{
    transform:scale(1.9);
    background-color: transparent !important;
  }
  
  
  .mscursor-nocursor{
    cursor:none!important;
  }

/* Paramètres H1 premère section */

h1.titre {
  display: flex;
  color: transparent;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #E5E5CB;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: none;
  background-color: transparent;
  height: 100vh;
  margin-left: 35%;
  margin-right: 25%;
  margin-bottom: 10%;
  font-size: 11vh; /* Réglez la taille de la police en utilisant "rem" */
  font-family: 'titreee '; 

}

/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 767px) {
  h1.titre {
    font-size: 4rem; /* Taille de la police pour les écrans mobiles */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    -webkit-text-stroke-width: 0.08rem;
  }
}




/* Animation café */

/* .parralax-text body{
  height: 100vh;
  margin:0;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
} */ */


.parralax-text::after{
  content: attr(text);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-text-stroke: 0.15vw black;
}

.café{
  z-index: 1;
  width: 50vw;
  animation: sneakerAnimation
  5s cubic-bezier(0.8, 1, 1, 1) infinite alternate;
}

@keyframes sneakerAnimation {
  0%, 10% {
      transform: 
      translate(-2500px, 0) rotate(65deg);
  }
90%, 100% {
  transform: 
  translate(300px, -5vw) rotate(-30deg);
}
}

@media screen and (max-width: 800px) {
  .mscursor-cursor {
    display: none;
  }
}


/* Catalogue */

h1.titre2 {
  margin-top: 10px;
  display: flex;
  color: #212529;
  -webkit-text-stroke-width: 0.15rem;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: none;
  background-color: transparent;
  font-size: 11vh; /* Réglez la taille de la police en utilisant "rem" */
  font-family: 'titreee '; 

}

/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 767px) {
  h1.titre2 {
    font-size: 4rem; /* Taille de la police pour les écrans mobiles */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    -webkit-text-stroke-width: 0.08rem;
  }
}


/* Cartes produits */
.box{
  z-index: 1;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
.card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #E5E5CB;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card:before,
.card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #E5E5CB;
  transition: 0.5s;
  z-index:-1;
}
.card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #212529;
transition: 0.5s;
z-index: 1;
}

.card:hover .imgBx
{
  bottom: 80px;
}

.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #212529;
 text-transform: uppercase;
} 

.card .details h2 span{
font-weight: 500;
font-size: 18px;
color: #c06230;
display: block;
margin-top: 5px;
 } 